 <link href="/static/css/treeview.css" rel="stylesheet" />    <div class="css-treeview">        <ul>            {%- for item in Tree recursive %}            <li> {% if item.childrens %}                 <input type="checkbox" id="{{item.code}}" /> <label for="{{item.code}}"></label>                {% endif %} <a href="/category/{{item.code}}" title="">{{ item.name }}</a>                                 {%- if item.childrens -%}                    <ul> {{ loop(item.childrens) }} </ul>                {%- endif %}            {%- endfor %}        </ul>    </div>   